__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
.pytest_cache/

.idea/
*.iml
*.iws
.idea_modules/

venv/
.venv/
env/
.env

.docker/
docker-compose.override.yml

*.log
tmp/
.tmp/

*.dump
pgdata/

.DS_Store
Thumbs.db